/* Reset some basic styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Center the entire result div */
.aqi-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of viewport */
    text-align: center;
}

/* Style the table */
table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    font-size: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 15px;
    border: 1px solid #111010;
}

th {
    background-color: #f7db40;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

tr {
    background-color: #f7b0b0;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}
.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-btn button {
    padding: 8px 16px;
    background-color: #111010;
    color: white;
    border: 5px solid #caff99;
    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
    border-radius: 4px;}
